.headerContainer {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 2px solid black;
  z-index: 100;
}
.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
}
.headerMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
/* to make up for image logo */
.headerContainer h1,
.headerContainer h2 {
  margin-left: -100px;
}
.headerContainer h2 {
  margin-top: 10px;
  text-align: center;
}
.headerContainer .headerTitle {
  margin: auto;
}
.headerContainer .hamburgerMenu {
  display: none;
  position: absolute;
  top: 21px;
  right: 0;
  height: 100px;
  width: 100px;
}
@media (max-width: 900px) {
  .headerContainer .hamburgerMenu {
    display: block;
  }
}
