.evidenceContainer {
  align-items: center;
  width: 100%;
}
.evidenceViewContainer {
  margin-bottom: auto;
  flex: 1;
  padding: 20px 0;
  /* max-height: calc(100dvh - 350px); */
}

.evidenceOptionsNav {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  padding: 10px 0;
  align-items: center;
  width: 100%;
}
.evidenceOptionsNav .evidenceSearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  flex-wrap: wrap;
}
.evidenceSearchForm button {
  height: 40px;
  align-self: flex-end;
}
.evidenceOptionsNav .filtersNotice {
  margin-bottom: 0;
  display: block;
  text-align: center;
  margin-top: 12px;
  padding: 12px 0;
  border-top: 1px solid black;
  background-color: #bbdefb;
  width: 100%;
}

.evidenceOptionsNav > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.evidenceOptionsNav > div li {
  margin: 0 20px;
}
.createEvidenceContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.createEvidenceContainer > button:last-child {
  margin-top: 20px;
}

.topHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  margin-bottom: 30px;
}
.topHalf > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.topHalf > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottomHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  margin-bottom: 30px;
}
.bottomHalf > div:first-child {
  width: 100%;
}
.evidencePhotoUpload {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.evidencePhotoUpload p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.evidencePhotoUpload p svg {
  margin-right: 20px;
}

.muiCaseId {
  width: 48%;
}
.muiDiscoveryAddress {
  width: 48%;
}
.muiStatus {
  width: 48%;
}
.muiType {
  width: 48%;
}
.muiDescription {
  width: 100%;
}
.evidenceDetailsContainer {
  padding: 30px 0;
  max-width: 1800px;
}
.evidenceDetailsContainer button:first-child {
  margin-bottom: 50px;
}
.evidenceDetailsContainer .evidenceDetailsHolder {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.evidenceDetailsContainer .evidenceHolder {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 5px;
}
.evidenceDetailsContainer .evidenceHolder .evidenceHolderDescription {
  margin-top: 20px;
}
.evidenceDetailsContainer .evidenceHolderTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.evidenceDetailsContainer .evidenceHolderImage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.evidenceDetailsContainer .evidenceHolderImage img {
  padding: 30px 0;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.evidenceDetailsContainer .evidenceHolderImage img + div {
  align-self: flex-start;
}
.evidenceSearchForm .evidenceFormE,
.evidenceSearchForm .evidenceFormB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .topHalf {
    width: 650px;
  }

  .bottomHalf {
    width: 650px;
    margin-bottom: 30px;
  }
  .evidenceOptionsNav .evidenceSearchForm {
    width: 600px;
    justify-content: space-between;
  }
  .evidenceSearchForm .evidenceFormId {
    width: 45%;
  }
  .evidenceSearchForm .evidenceFormType {
    width: 45%;
  }
  .evidenceSearchForm .evidenceFormE {
    width: 40%;
    justify-content: flex-start;
  }
  .evidenceSearchForm .evidenceFormB {
    width: 40%;
    justify-content: flex-start;
  }
  .evidenceSearchForm .evidenceFormE > div:first-child,
  .evidenceSearchForm .evidenceFormB > div:first-child {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .topHalf {
    width: 350px;
  }
  .topHalf > div:first-child {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .topHalf > div:nth-child(2) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .bottomHalf {
    width: 350px;
    margin-bottom: 30px;
  }
  .evidencePhotoUpload {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .evidencePhotoUpload p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .evidencePhotoUpload p svg {
    margin-right: 20px;
  }

  .muiCaseId {
    width: 100%;
    margin-bottom: 20px;
  }
  .muiDiscoveryAddress {
    width: 100%;
  }
  .muiStatus {
    width: 100%;
    margin-bottom: 20px;
  }
  .muiType {
    width: 100%;
  }
  .muiDescription {
    width: 350px;
  }
  .evidenceOptionsNav .evidenceSearchForm {
    width: 350px;
    justify-content: center;
  }
  .evidenceSearchForm .evidenceFormId {
    width: 100%;
  }
  .evidenceSearchForm .evidenceFormType {
    width: 100%;
  }
  .evidenceSearchForm .evidenceFormE {
    width: 100%;
    justify-content: space-between;
  }
  .evidenceSearchForm .evidenceFormB {
    width: 100%;
    justify-content: space-between;
  }
  .evidenceSearchForm > button:last-child {
    margin: 20px auto;
  }
  .evidenceFormB button,
  .evidenceFormE button {
    margin-right: 0;
  }
}
