.overviewContainer {
  padding: 20px 0;
  margin-bottom: auto;
}
.overviewContainer > h2:first-child {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.overviewCrimeStats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overviewCrimeStats h2 {
  text-align: center;
  width: 100%;
}

.overviewCrimeStats .overviewCrimeStatsOptions {
  margin: 20px 0 50px 0;
}
.taskContainerMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.overviewContainerTasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
}
.taskPagination {
  margin-top: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overviewCrimeStatChart {
  width: 100vw;
  height: 45vh;
  max-width: 700px;
  max-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overviewCalendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.taskLegend {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.taskLegend span {
  display: block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-bottom: 5px;
}
.taskComplete {
  background-color: rgba(0, 128, 0, 0.65);
}
.taskPending {
  background-color: rgba(255, 166, 0, 0.65);
}
.taskIncomplete {
  background-color: rgba(255, 0, 0, 0.65);
}
.taskLegend p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.calendarContainer {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarMain {
  height: 100%;
}

.taskCard {
  width: 700px;
  margin-right: 50px;
  margin-bottom: 12px;
  height: 100px;
 background: rgb(201,221,224);
background: linear-gradient(0deg, rgb(233, 236, 236) 0%, rgba(255,255,255,1) 100%);
}
.taskCard:hover {
  cursor: pointer;
  background: rgb(194,222,227);
background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(235,235,235,1) 100%);
}
.taskCardHeading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  padding: 0 15px;
}
.taskCard p {
  margin: 0;
}
.taskCardHeading span {
  margin-left: 10px;
}
.taskCardContent {
  height: 65%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.taskCardHeadingLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.taskCardContentLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.taskCardContentLeft p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 2; /* Adjust as needed */
  -webkit-box-orient: vertical;
  white-space: normal; /* Allows wrapping */
}
.taskCardContentLeft + p {
  text-align: right;
}

.taskCardStatus {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.Green {
  background-color: rgba(0, 128, 0, 0.65);
}
.Orange {
  background-color: rgba(255, 166, 0, 0.65);
}
.Red {
  background-color: rgba(255, 0, 0, 0.65);
}


@media (max-width: 1200px) {
  .taskContainerMain {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .overviewContainerTasks {
    margin-bottom: 100px;
    align-items: center;
  }
  .taskCard {
    margin-right: 0;
    width: auto;
    min-width: 350px;
    width: 100%;
  }
}