.overviewContainer {
  padding: 20px 0;
  margin-bottom: auto;
}
.overviewContainer > h2:first-child {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.overviewCrimeStats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overviewCrimeStats .overviewCrimeStatsOptions {
  margin: 20px 0 50px 0;
}
.taskContainerMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.overviewContainerTasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
}
.taskPagination {
  margin-top: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overviewCrimeStatChart {
  width: 100vw;
  height: 100vh;
  max-width: 700px;
  max-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarContainer {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarMain {
  height: 100%;
}

.taskCard {
  width: 700px;
  margin-right: 50px;
  margin-bottom: 12px;
  height: 100px;
  background-color: rgba(206, 224, 224, 0.452);
}
.taskCard:hover {
  cursor: pointer;
   background-color: rgba(244, 254, 255, 0.452);
}
.taskCardHeading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  padding: 0 15px;
}
.taskCard p {
  margin: 0;
}
.taskCardHeading span {
  margin-left: 30px;
}
.taskCardContent {
  height: 65%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.taskCardHeadingLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.taskCardContentLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.taskCardContentLeft p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 2; /* Adjust as needed */
  -webkit-box-orient: vertical;
  white-space: normal; /* Allows wrapping */
}
.taskCardContentLeft + p {
  text-align: right;
}
@media (max-width: 1200px) {
  .taskContainerMain {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .overviewContainerTasks {
    margin-bottom: 100px;
    align-items: center;
  }
  .taskCard {
    margin-right: 0;
    width: auto;
    min-width: 350px;
    width: 100%;
  }
}