.loginFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginFormContainer > div {
  width: 100%;
}
.loginFormContainer button,
.loginFormContainer input {
  width: 100%;
}

.loginFormContainer button {
  margin-bottom: 5px;
}