.caseContainer {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caseOptionsNav {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  padding: 10px 0;
  align-items: center;
}
.caseOptionsNav .filtersNotice {
  margin-bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12px;
  padding: 12px 0;
  border-top: 1px solid black;
  background-color: #bbdefb;
}

.caseContainer .viewCasesContainer {
  flex: 1;
  padding: 20px 0;
  margin-bottom: auto;
  /* max-height: calc(100dvh - 350px); */
}

.caseOptionsNav .caseSearchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.caseSearchForm button {
  height: 40px;
  align-self: flex-end;
}
.caseSearchForm .caseFormNo {
  width: 70px;
  margin-right: 20px;
}
.caseSearchForm .caseFormId {
  width: 300px;
  margin-right: 20px;
}
.caseSearchForm .caseFormType {
  width: 180px;
  margin-right: 20px;
}
.caseSearchForm .caseFormE {
  width: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.caseSearchForm .caseFormB {
  width: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.caseContainer .dynamicFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.caseContainer .dynamicFieldsInputs {
  display: flex;
  flex-wrap: wrap;
}
.caseContainer .dynamicFieldsContainerParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.caseContainer .createCaseContainer {
  padding: 20px 0;
}
.createCaseContainer .createCaseHeadings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.caseReportUpload {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.caseReportUpload p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.caseContainer .dynamicFieldsContainer {
  padding: 20px 5px 5px;
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.caseContainer .createCaseButton {
  margin: 80px 0 50px 0;
}
.caseContainer > div:first-child {
  width: 100%;
}
.caseOptionsNav > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.caseDetailsContainer {
  width: 100%;
  max-width: 1800px;
  padding: 30px;
  /* max-height: calc(100vh - 250px); */
  overflow: auto;
}

.caseDetailsContainer .caseDetailsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.caseDetailsHeading {
  padding-bottom: 20px;
}
.caseDetailsHeadingList li {
  margin-bottom: 5px;
}

.caseDetailsReportParagraph {
  white-space: pre-line;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caseDetailsReportParagraph div:first-child {
  max-width: 1000px;
  width: 100%;
}
.caseDetailsReportParagraph h1 {
  text-align: center;
  margin-bottom: 50px;
}
.caseDetailsReportParagraph ol {
  padding-left: 40px;
  margin: 20px 40px 20px 0;
  list-style: decimal;
}
.caseDetailsReportParagraph ul {
  padding-left: 40px;
  margin: 20px 40px 20px 0;
  list-style: disc;
}
.caseDetailsReportParagraph ol li {
  list-style: decimal;
}
.caseDetailsReportParagraph ul li {
  list-style: disc;
}

.caseDetailsContainer .leadInvestigatorListItem {
  display: flex;
}
.leadInvestigatorListItem p {
  margin: 0;
  padding: 0 5px;
  border-right: 1px solid black;
}
.caseDetailsContainer p {
  margin: 0;
}

.extraInfoUl {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.evidenceListItem {
  margin-top: 50px;
}
.evidenceListItem h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.evidenceInternal {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
.evidenceHolder {
  width: 600px;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 30px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 5px;
}
.evidenceHolder .evidenceHolderDescription {
  margin-top: 20px;
}
.evidenceHolderTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.evidenceHolderImage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.evidenceHolderImage img {
  padding: 30px 0;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.evidenceHolderImage img + div {
  align-self: flex-start;
}

.caseOptionsNav > div li {
  margin: 0 20px;
}
.styledRow:hover {
  cursor: pointer !important;
  background-color: white !important;
}
.styledRowOpen {
  background-color: #e3f2fd !important;
}

@media (max-width: 1200px) {
  .caseOptionsNav .caseSearchForm {
    width: 800px;
    justify-content: space-between;
  }
  .caseSearchForm button {
    align-self: flex-end;
  }
  .caseSearchForm .caseFormNo {
    width: 15%;
    margin-right: 20px;
  }
  .caseSearchForm .caseFormId {
    width: 35%;
    margin-right: 20px;
  }
  .caseSearchForm .caseFormType {
    width: 35%;
    margin-right: 20px;
  }
  .caseSearchForm .caseFormE {
    width: 40%;
  }
  .caseFormE > div:first-child {
width: 100%;
  }
  .caseSearchForm .caseFormB {
    width: 40%;
  }
    .caseFormB > div:first-child {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .caseOptionsNav .caseSearchForm {
    width: 380px;
    justify-content: center;
  }
  .caseSearchForm button {
    margin-right: 0;
  }
  .caseSearchForm .caseFormNo {
    width: 90%;
    margin-right: 0;
  }
  .caseSearchForm .caseFormId {
    width: 90%;
    margin-right: 0;
  }
  .caseSearchForm .caseFormType {
    width: 90%;
    margin-right: 0;
  }
  .caseSearchForm .caseFormE {
    width: 90%;
    margin-right: 0;
    justify-content: space-between;
  }
  .caseSearchForm .caseFormB {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
    justify-content: space-between;
  }
}
